@model Web_App.ViewModels.LoginViewModel

@{
    ViewData["title"] = "Login";
    var message = ViewData["message"];
}

<div class="text-center">
    <h3 style="margin: 50px 0 20px 0">WELLCOME TO MY APP</h3>
    @if (message != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @message
        </div>
    }
    <form asp-action="Login" asp-controller="Home" id="form">
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-4">
                <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
            </div>
            <div class="form-group col-md-4 offset-md-4">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group col-md-2 offset-md-4">
                <button type="submit" class="btn btn-primary btn-submit">Login</button>
            </div>
            <div class="form-group col-md-2">
                <a asp-action="Register" asp-controller="Home"><button type="button" class="btn btn-light">Register</button></a>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/login.js" asp-append-version="true"></script>
}